<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         failOnRisky="true"
         failOnWarning="true"
         bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true">
    <testsuites>
        <testsuite name="minibus">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <clover outputFile=".coverage/clover.xml" />
            <html outputDirectory=".coverage/html" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
</phpunit>
